



.tenis{
    width:25% ;
    height:25%;
}

.fundo{
    background-image: url('../img/fundo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.logo {
    position: absolute;
    top: 45px;
   text-align: left;
    
   
   
}

.texto{
    text-align: center;
}

.texto{
    color:#232b9e;
}

.btn{
    color:#f11010
}

.img{
    text-align:center;
}

h1{
    text-align: center;
}

.tenis {
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;
    gap: 20px;
}

.tenis-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}